{% extends 'layout/front/security.html.twig' %}
{% form_theme form with ['theme/materialize_theme.html.twig'] %}

{% block title %}Activation et modification de votre mot de passe{% endblock %}

{% block body %}
    <div class="container vertical-center">
        <div class="col-sm-4 offset-4">
            <div class="card">
                {{ form_start(form) }}
                <div class="card-title text-center pt-4 mb-4">
                    <h1 class="loginlogo">
                        <a href="{{ path('front_dashboard') }}"><img src="{{ asset('build/img/front/logo.svg') }}" width="" alt=""><span class="text-hide">Mon Site Assuré</span></a>
                    </h1>
                </div>
                <div class="card-body">
                    <div class="px-4">
                        <h2 class="h6 mb-5 text-center">Votre mot de passe</h2>
                        <div class="md-form">
                            {{ form_widget(form.plainPassword.first, {attr: {'autofocus' : 'autofocus'}}) }}
                            {{ form_label(form.plainPassword.first) }}
                            <span toggle="#{{ form.plainPassword.first.vars.id }}" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="md-form">
                            {{ form_widget(form.plainPassword.second) }}
                            {{ form_label(form.plainPassword.second) }}
                            <div class="invalid-feedback">{{ form_errors(form.plainPassword.second) }}</div>
                            <span toggle="#{{ form.plainPassword.second.vars.id }}" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group mb-1 login-options">
                            <div class="mt-5">
                                <span class="forgot-password">* Champs obligatoire</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pmd-card-footer-no-border mt-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block py-3">Activer mon compte</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
