{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}



{% block body %}
    <h1><i class="fas fa-home"></i> Bienvenue sur mon espace personnel</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p>Bienvenue dans l'espace de formation Symfony et PHP.</p>
                <p>Cet espace va vous préparer à la certification Symfony</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 etape-homepage">
                <div class="visuel">
                    <a href="{{ path('category_load', {'id': 2}) }}"><img src="{{ asset('build/img/front/icons/etape-home-1.svg') }}" alt=""></a>
                </div>
                <div class="titre">Mes questionnaires</div>
                <p>Retrouvez tous vos questionnaires<br>avec vos réponses et vos notes</p>
            </div>
            <div class="col-md-4 etape-homepage">
                <div class="visuel">
                    <a href="{{ path('category_load', {'id': 3}) }}"><img src="{{ asset('build/img/front/icons/etape-home-2.svg') }}" alt=""></a>
                </div>
                <div class="titre">Cours de PHP</div>
                <p>Vous trouverez dans cette section<br/> tous les cours spécifiques du PHP7</p>
            </div>
            <div class="col-md-4 etape-homepage">
                <div class="visuel">
                    <a href="{{ path('category_load', {'id': 1}) }}"><img src="{{ asset('build/img/front/icons/etape-home-3.svg') }}" alt=""></a>
                </div>
                <div class="titre">Cours de Symfony</div>
                <p>Vous trouverez dans cette section<br/> tous les cours spécifiques de Symfony 4</p>
            </div>
        </div>


        <div class="row">
            <a href="" class="btn btn-suivant centered btn-lg shadow-sm"><i class="fas fa-angle-right"></i>Commencer un test</a>
        </div>

    </div>


{% endblock %}
