{% extends 'base.html.twig' %}

{% block title %}{{ 'category.new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'category.new'|trans }}</h1>
    <div class="container-fluid">

        {{ include('category/_form.html.twig') }}

    </div>
    <a href="{{ path('category_index') }}" class="btn btn-suivant centered btn-lg shadow-sm"><i class="fas fa-angle-right"></i>{{ 'base.back'|trans }}</a>
{% endblock %}
