<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PHP BLOG - {% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/img/front/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('build/img/front/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('build/img/front/favicon/favicon-16x16.png')}}">
    <link rel="mask-icon" href="{{asset('build/img/front/favicon/safari-pinned-tab.c4d9e2e2.svg')}}" color="#088eb2">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="top-bar navbar navbar-light shadow-sm">
    <p class="emprunteur">Bienvenue {#app.user.fullName#}</p>
    <a href="{{ path('app_logout') }}" class="btn btn-logout">
        <i class="fas fa-sign-out-alt"></i>Se déconnecter</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="left-clmn col-sm-3">
            <div class="container-fluid">
                <div class="logo">
                    <a href="">
                        <img src="{{ asset('build/img/front/avatar.png') }}" class="my-4" alt="Php blog">
                    </a>
                </div>

                <div class="switch-contrat">Menu</div>

                <nav class="nav flex-column">
                    <a class="nav-link {{ activeMenu(['front_dashboard']) }}" href=""><i class="fas fa-home"></i>Accueil</a>
                    <a class="nav-link {{ activeMenu(['front_information_index', 'front_information_update_email', 'front_information_update_password']) }}" href=""><i class="fas fa-user"></i>Mes cours</a>
                    <a class="nav-link" href="#"><i class="far fa-paper-plane"></i>Mes questionnaires</a>
                    <a class="nav-link {{ activeMenu(['aide_list']) }}" href=""><i class="far fa-comments"></i>Aide</a>
                </nav>
            </div>
        </div>
        <div class="right-clmn col-sm-9">
            {# read and display all flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="col-xs w-100 mh-100">
                        <div class="alert alert-{{ label }} alert-dismissible shadow-sm">
                            <div class="body">
                                {{ message|raw }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<footer>
    <p>PHP BLOG</p>
</footer>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
